#container {
    display: flex;
    height: 98vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 50%;
    width: 25%;
    padding: 2%;
    background-color: grey;
    gap: 5px;
    border-radius: 25px;
}

.clearDeleteSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.button {
    border-radius: 10px;
    font-size: 15pt;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearDeleteButtons {
    width: 50%;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
}

.numpad {
    display: flex;
    gap: 5px;
}

.col {
    flex: 1;
    display: flex;
    height: 350px;
    flex-direction: column;
    gap: 5px;
}

.num {
    border: 1px solid black;
    height: 80%;
    background-color: azure;
}

.operator {
    background-color: rgb(72, 121, 253);
    color: white;
}

.equal {
    background-color: blue;
    color: white;
}

.display {
    border: 1px solid black;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-right: 5px;;
    background-color: white;
    border-radius: 10px;
}