* {
    box-sizing: border-box;
}

#container {
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
}

#CALC {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    gap: 5px;
    padding: 10px;
    padding-left: 4px;;
}

.display {
    height: 100px;
    width: 250px;
    border: 1px solid black;
}


.clearDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    gap: 10px;
    padding-bottom: 5px;;
}

.clear {
    width: 50%;
}
.delete {
    width: 50%;
}
.btnGrid {
    display: grid;
    grid-template-columns: repeat(4, 42px[col-start]);
    grid-gap: 25px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    padding: 20px;
    min-width: 50px;;
}